* {
	margin: 0px;
	padding: 0px;
}

body {
	/*background-image: url(../img/brushed.png);*/
	background-color: #fff;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: lighter;
	color: #fff;
}

#container {
	width: 100%;
	margin: 0px auto;
	position: relative;
}

.grid {
	width: 100%;
	border-bottom: 3px solid #fff;
	background-color: #e37916;
	position: relative;
}

#name {
	/*see main.js*/
	position: fixed;
	top: 0px;
	z-index: 2;
}

#name p, #more p, #footer p, #comingsoon p {
	text-align: center;
	font-size: 200%;
	overflow: hidden;
}

#bio {
	/*see main.js*/
}

#bio p {
	/*see main.js*/
	padding: 5px;
	font-size: 10px;
}

#footer p {
	font-size: 100%;
}

#pic {
	background-image: url('../img/headshot-placeholder.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.socail {
	/*see main.js*/
}


#twitter {
	background-image: url('../img/twitter-w.png');
	border-right: 3px solid white;
	border-bottom: 3px solid white;
}

#twitter:hover {
	background-image: url('../img/twitter-c.png');
}

#flickr {
	background-image: url('../img/flickr-w.png');
	border-bottom: 3px solid white;
}

#flickr:hover {
	background-image: url('../img/flickr-c.png');
}

#linkedin {
	background-image: url('../img/linkedin-w.png');
	border-right: 3px solid white;
}

#linkedin:hover {
	background-image: url('../img/linkedin-c.png');
}

#mail {
	background-image: url('../img/mail-w.png');
}

#mail:hover {
	background-image: url('../img/mail-c.png');
}

#more {
	/*see main.js and above*/
}

#more p:hover {
	/*something*/
}

#stuff {
	text-align: center;
}

.heading {
	font-size: 200%;
}

#stuff ul {
	list-style: none;
}

.link {
	text-decoration: underline;
	color: #fff;
}

.pointer {
	cursor: pointer;
}


